.grid{
  display: grid;
  width: 100%;
  grid-template-columns: 4fr auto auto;
  overflow: hidden;
}


.selector_block_create{
  transition:  1s;
}

.selector_title{
  margin: 10px 10px 15px 15px;
  font-weight: 300;
  font-size: 1.4rem;
}

.selector_block_button{
  padding: 10px 0;
  border-right: 3px solid rgba(209, 209, 209, 0.3);
   height: calc(auto + 10px);

}

.event_block{
  border: 1px solid rgba(209, 209, 209, 0.5);
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px 10px 10px 4%;
  font-size: 1.3rem;
  position: relative;

  display: flex;

  background-color:rgb(137,231,184);
  color: rgb(235,251,243);

  transition: .3s;


  &:hover{
    margin-left: 3%;

    & .task_delete{
      background-color: rgba(78, 78, 78, 0.03);

    }
  }

}

.preferably_info{
    color: rgb(235,243,251);
    background-color: rgb(137,184,231);
    border-color: #b8daff;
}

.important_info{
  color: rgb(251,235,235);
  background-color: rgb(231,137,137);
  border-color: #f5c6cb;
}


.task_title{
  width: 100%;
}

.no_tasks{
  padding-left: 20%;
  font-size: 1.4rem;
  font-weight: 100;
  color: rgb(158, 158, 158);
}

.text_empty{
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(158, 158, 158);
}

.task_text{
  width: 100%;
}

.task_delete{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0, -50%);
  border-radius: 50px;
  outline: none;
  transition: .5s;
}

.btn_delete{
  color: rgba(78, 78, 78, 0.3);
  & mat-icon{
    font-size: 1.2rem;
  }
  &:hover{
    color: rgba(207, 0, 0, 0.5);
  }
}

.btn__toggle{
  color: rgb(255, 255, 255);
  background-color: rgb(74, 172, 253);
  font-weight: 300;
  font-size: 2.1rem;
  border: none;
  height: calc(100% - 10px);
  min-height: 95px;
  width: 60px;
  padding:0;
  margin: 5px 0 5px 10px;
  transition: .4s;
  outline: none;
  border-radius: 0;

  &.close{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

